[Unit]
Description=LiteLLM Redis
Wants=sodimo-network.service
After=sodimo-network.service

[Container]
Image=docker.io/redis:7-alpine
ContainerName=litellm-redis
Network=sodimo.network
Volume=litellm-redis-data.volume:/data

[Service]
Restart=always

[Install]
WantedBy=sodimo.target
