[Unit]
Description=LiteLLM Postgres
Wants=sodimo-network.service
After=sodimo-network.service

[Container]
Image=docker.io/pgvector/pgvector:pg16@sha256:7d400e340efb42f4d8c9c12c6427adb253f726881a9985d2a471bf0eed824dff
ContainerName=litellm-postgres
Network=sodimo.network
Volume=litellm-db-data.volume:/var/lib/postgresql/data
Environment=POSTGRES_DB=litellm
Environment=POSTGRES_USER=litellm
Environment=POSTGRES_PASSWORD=litellm
Environment=POSTGRES_HOST_AUTH_METHOD=md5

[Service]
Restart=always

[Install]
WantedBy=sodimo.target
