# Postfix env — hostname + DKIM signing + allowed senders
HOSTNAME=mail.sodimo.eu
ALLOWED_SENDER_DOMAINS=sodimo.eu sodimonet.fr yallafood.eu cavisteduliban.fr
POSTFIX_mydomain=sodimo.eu
POSTFIX_myhostname=mail.sodimo.eu
POSTFIX_myorigin=$mydomain
POSTFIX_mynetworks=10.89.0.0/24,127.0.0.0/8
POSTFIX_smtp_tls_security_level=may
POSTFIX_smtpd_tls_security_level=may

# DKIM signer talks to rspamd
POSTFIX_smtpd_milters=inet:rspamd:11332
POSTFIX_non_smtpd_milters=inet:rspamd:11332
POSTFIX_milter_protocol=6
POSTFIX_milter_default_action=accept

# Virtual delivery → Dovecot LMTP
POSTFIX_virtual_transport=lmtp:inet:dovecot:24
